.img {
  max-width: 100%;
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card {
  display: flex;
  padding: 20px;
  margin: 20px;
  gap: 20px;
}

.jsbtn {
  padding: 7px 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  color: black;
}
.xob {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
}

.products,
.cart {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  height: 80vh;
}

.jstitle {
  margin-bottom: 10px;
}

.jstext1 {
  margin-bottom: 10px;
}

.jstext2 {
  margin-bottom: 10px;
}
